[Unit]
Description=Check personal-site main for updates every minute

[Timer]
OnBootSec=30s
OnUnitInactiveSec=60s
RandomizedDelaySec=5s
Unit=tinnguyen-update.service

[Install]
WantedBy=timers.target
